---
layout: main
published: true
---
{% for cat in site.cats %}
<div><h1 style="align:center;color:white">{{cat}}</h1>
{% for post in paginator.posts %}
{% if post.tags contains cat  %}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <div class="chapter_inner">
      <p class="chapter_number">{{post.date | date: '%Y, %b %d'}}</p>
      <h3 class="chapter_title">{{post.title}}</h3>
    </div>
  </div>
{% endif %}

{% endfor %}
</div><br/>
{% endfor %}
